<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SQLiteConnectionFileName" value="adv.db"/>
    <add key="dbNamePlaceHolder" value="{SQLiteConnectionFileName}"/>
  </appSettings>
  <connectionStrings>
    <add name="SQLiteConnectionString"
         connectionString="Data Source={SQLiteConnectionFileName};Version=3;Pooling=false"
         providerName="System.Data.SQLite"/>
  </connectionStrings>
</configuration>